.todocontainer{
    height: auto;
    width: 100%;
    background-color: #f3f2fa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.personaltodo{
height: auto;
width: 600px;
background-color: white;
margin: 10px;
border-radius: 30px;
display: flex;
flex-direction: row;
flex-wrap: wrap;
transform: translateX(-50%);
animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
  }
  
.personalheading{
    height: auto;
    width: 100%;
    font-size: 50px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    text-align: center;
}
.personaldesc{
    height: auto;
    width: 100%;
    font-size: 24px;
    font-family: cursive;
    text-align: center;
    padding: 10px 0px 10px 0px;
}
.personallist{
    height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
.personallist::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  .personallist::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set the color of the thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
  }
  .labelfont{
    font-size: 24px;
    font-weight: 600;
  }
  .labelmark{
    font-size: 24px;
    font-weight: 600;
    text-decoration: line-through;
    text-decoration-color: rgb(248, 79, 57);
  }
.todoimage{
    height: auto;
    width: 500px;
    background-color: aqua;
    margin: 10px;
    border-radius: 30px;
    transform: translateX(50%);
}
.todoimage img{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.personallist input[type=checkbox]{
    transform: scale(2.5);
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
@media screen and (max-width:768px) {
.todoimage{
    display: none;
}
.personaltodo{
    height: auto;
    width: 600px;
    background-color: white;
    margin: 20px;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    }
    .personalheading{
        height: auto;
        width: 100%;
        font-size: 45px;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: bolder;
        text-align: center;
    }
    .personaldesc{
        height: auto;
        width: 100%;
        font-size: 20px;
        font-family: cursive;
        text-align: center;
        padding: 10px 0px 10px 0px;
    } 
}