.usertodocontainer{
    height: auto;
    width: 100%;
    background-color: #f3f2fa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.usertododata{
    height: 560px;
    width: 560px;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}  
.usertododatalist{
    height: 560px;
    width: 560px;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    opacity: 0;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.input-field {
    display: block;
    width: 360px;
    padding: 10px;
    font-size: 24px;
    border: none;
    border-bottom: 2px solid #ccc;
    outline: none;
    background-color: transparent;
    font-weight: 600;
  }
  .input-container {
    position: relative;
    margin: 20px;
  }
  /* Input label */
  .input-label {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    color: rgba(204, 204, 204, 0);
    pointer-events: none;
    transition: all 0.3s ease;
  }
  
  /* Input highlight */
  .input-highlight {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 0;
    background-color:blue;
    transition: all 0.3s ease;
  }
  
  /* Input field:focus styles */
  .input-field:focus + .input-label {
    top: -20px;
    font-size: 14px;
    font-weight: bold;
    color: blue;
  }
  
  .input-field:focus + .input-label + .input-highlight {
    width: 100%;
  }
@keyframes deletetodo {
  0%,100%{
    transform:translateY(-5%);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50%{
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}
.createyourtodo{
    padding: 15px;
    font-size: 24px;
    font-weight: 600;
    border-radius: 12px;
    border: 2px outset blue;
    transition: transform 0.5s;
    cursor: pointer;
}
.createyourtodo:hover{
    color:blue;
    border: solid blue;
    transform: scale(1.04);
}
.addplusfirsttodo{
    height: 80px;
    width: 80px;
    position: relative;
    right: 5%;
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg);
    transition: transform 1s;
  }
  
.userpersonallist{
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
.userpersonallist::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  .userpersonallist::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set the color of the thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
  }
  .deletesection{
    height: 55px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.usertodoimage{
    height: 560px;
    width: 420px;
    background-color: #f3f2fa;
    margin: 10px;
    border-radius: 30px;
}
.todoaddimage{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.usertodo1image{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 0;
}

.helloimage{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.todoinput{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.todotext{
    border-radius: 10px;
    height: 70px;
    width: 80%;
    position: relative;
    right: -25px;
    font-size: 30px;
    padding: 0px 36px 0px 10px;
    font-weight: bold;
    background-color: #f3f2fa;
}
.usertodoinput
{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.usertodotext{
    border-radius: 10px;
    height: 60px;
    width: 80%;
    position: relative;
    right: -26px;
    font-size: 30px;
    padding: 0px 40px 0px 10px;
    font-weight: bold;
    background-color: #f3f2fa;
}
.usercheckbox{
    transform: scale(2);
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}
@media screen and (max-width:768px) {
    .usertododatalist{
        height: 560px;
        width: 400px;
        background-color: white;
        margin: 20px;
        border-radius: 30px;
        opacity: 0;
        animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
    .input-highlight {
        position: absolute;
        bottom: 0px;
        left: 0;
        height: 3px;
        width: 0;
        background-color:blue;
        transition: all 0.3s ease;
      }
      .input-field {
        display: block;
        width: 240px;
        padding: 10px;
        font-size: 24px;
        border: none;
        border-bottom: 2px solid #ccc;
        outline: none;
        background-color: transparent;
      }
      .labelfont{
        font-size: 24px;
        font-weight: 600;
      }
      .labelmark{
        font-size: 24px;
        font-weight: 600;
        text-decoration: line-through;
        text-decoration-color:blue;
      }
}