.usertodocontainer{
    height: auto;
    width: 100%;
    background-color: #f3f2fa;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:center;
}
.usertododata{
    height: 620px;
    width: 600px;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
@keyframes shadow-drop-center {
    0% {
      -webkit-box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
              box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
      -webkit-box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
              box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.35);
    }
}  
.usertododatalist{
    height: 620px;
    width: 600px;
    background-color: white;
    margin: 10px;
    border-radius: 30px;
    opacity: 0;
    animation: shadow-drop-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.addplusfirsttodo{
    height: 96px;
    width: 100px;
    position: relative;
    right: 5%;
    cursor: pointer;
}
.addplustodo{
    height: 85px;
    width: 100px;
    position: relative;
    right: 5%;
    cursor: pointer;
}
.rotate {
    transform: rotate(180deg);
    transition: transform 1s;
  }
  
.userpersonallist{
    height: 400px;
    overflow-x: auto;
    overflow-y: auto;
    width: 100%;
}
.userpersonallist::-webkit-scrollbar {
    width: 6px; /* Set the width of the scrollbar */
  }
  .userpersonallist::-webkit-scrollbar-thumb {
    background-color: #ccc; /* Set the color of the thumb */
    border-radius: 10px; /* Set the border radius of the thumb */
  }
  .deletesection{
    height: 55px;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.usertodoimage{
    height: 620px;
    width: 450px;
    background-color: #f3f2fa;
    margin: 10px;
    border-radius: 30px;
}
.todoaddimage{
    height: 100%;
    width: 100%;
    border-radius: 30px;
}
.usertodo1image{
    height: 100%;
    width: 100%;
    border-radius: 30px;
    opacity: 0;
}

.helloimage{
    height: 200px;
    width: 200px;
    border-radius: 100px;
}
.todoinput{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.todotext{
    border-radius: 10px;
    height: 70px;
    width: 80%;
    position: relative;
    right: -25px;
    font-size: 30px;
    padding: 0px 36px 0px 10px;
    font-weight: bold;
    background-color: #f3f2fa;
}
.usertodoinput
{
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}
.usertodotext{
    border-radius: 10px;
    height: 60px;
    width: 80%;
    position: relative;
    right: -26px;
    font-size: 30px;
    padding: 0px 40px 0px 10px;
    font-weight: bold;
    background-color: #f3f2fa;
}
.usercheckbox{
    transform: scale(2.5);
    margin-left: 20px;
    margin-right: 20px;
    cursor: pointer;
}