@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&family=Gugi&family=Gurajada&display=swap');
.typecontainer {
    height: calc(100vh - 60px);
    background-color: rgb(204, 214, 218);
    display: flex;
    flex-direction: column;
}
.finishcontainer{
    height: calc(80vh);
    width: 100%;
    background-color: rgb(204, 214, 218);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.correctchar{
    height: 300px;
    width: 300px;
    background-color: black;
    color: white;
    border-right: 3px solid white;
}
.correct{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 600;
    font-family: "Gugi";
    color: white;
}
.correctlabel{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: gurajada;
}
.wrongchar{
    height: 300px;
    width: 300px;
    background-color:black;
    color:white;
    border-right: 3px solid white;
}
.wrong{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 600;
    font-family: "Gugi";
}
.wronglabel{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: gurajada;
}
.speed{
    height: 300px;
    width: 300px;
    background-color:black;
    font-size: 42px;
}
.speedkm{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    font-weight: 600;
    font-family: "Gugi";
    color: white;
}
.speedlabel{
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: white;
    font-family: gurajada;
}
.typenav {
    background-color: rgb(204, 214, 218);
    height: 80px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.wordsbox1{
    height: 40px;
    width: auto;
    padding: 10px 20px 10px 20px;
    border-radius: 10px 0px 0px 10px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    cursor: pointer;
}
.wordsbox2{
    height: 40px;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    cursor: pointer;
}
.wordsbox3{
    height: 40px;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    text-align: center;
    background-color: black;
    cursor: pointer;
}
.wordsbox4{
    height: 40px;
    width: auto;
    padding: 10px 20px 10px 20px;
    font-size: 24px;
    border-radius: 0px 10px 10px 0px;
    text-align: center;
    background-color: black;
    cursor: pointer;
}

.typebox{
    height: auto;
    background-color:rgb(204, 214, 218);
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
    overflow: visible;
}
.typespace{
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color:rgb(242, 251, 255);
}
.typecontent{
    height: 150px;
    padding: 20px;
    letter-spacing: 2px;
    word-spacing: 14px;
    font-size: 2vw;
    text-indent: 10px;
    overflow: scroll;
    color:black;
    font-family: "comic neue";
}
.cursor{
    border-left: 4px solid black;
    height: 10px;
    animation-name: cursorping;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes cursorping {
    100%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}
.typecontent::-webkit-scrollbar{
    width: 0;
}
.sucesscolor{
    color:blue;
    font-weight: bolder;
}
.errorcolor{
    color:black;
}
.typebox div{
    padding: 30px;
}
/* .typebox div input[type="text"]{
 font-size: 26px;
 font-weight: 600;
 background-color:rgb(204, 214, 218);
 color:darkblue;
 border: 4px outset rgb(255, 255, 255);
 height: 64px;
 width: 80%;
 border-radius: 14px;
 caret-color: darkblue;
}
.typebox div input::placeholder{
    color: darkblue;
} */

.typebuttons{
    height: 80px;
    width: 100%;
    background-color: rgb(204, 214, 218);
    display: flex;
    justify-content: center;
    align-items: center;
}
.restartimg{
    height: 80px;
    width: 80px;
    cursor: pointer;
    
}
.hover-box{
    height: 50px;
    width:auto;
    padding: 10px;
    font-size: 24px;
    font-weight: 600;
    background-color:transparent;
    color: white;
    position: absolute;
    margin-top: 6%;
    margin-left: 26%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.changecontent{
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 20px 0px 20px;
    font-size: 2.5vw;
    font-family: gurajada;
    font-weight: 500;
}
.mobilecontainer{
    display: none;
}
@media screen and (max-width:768px) {
  .typecontainer{
    display: none;
  } 
  .mobilecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 86vh;
    width: 100%;
    background-color: aliceblue;
    color: black;
    font-size: 10vw;
    font-family: gurajada   ;
  }
}