.gamescontainer{
    height: 90vh;
    width: 100%;
    background-color: rgb(236, 236, 236);
}
.gamefirstbox{
    height: auto;
    width: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gamefirsttitle{
    font-size: 4em;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    padding-top: 35px;
}
.gamefirstdesc{
    font-size: 30px;
    font-family: auto;
    color: white;
    text-align: center;
    padding-bottom: 35px;
}
.gamesecondbox{
    height:auto;
    width: 100%;
    background-color: rgb(236, 236, 236);
    padding-top: 4em;
    padding-bottom: 5.1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
}
.gamesecondbox1{
    height: 350px;
    width: 400px;
    background: url('../../Assets/typingimage.png');
    background-repeat: round;
    background-size: cover;
    border-radius: 20px;
    opacity: 0;
    display: flex;
    transform: translateY(20%);
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.gamesecondbox1 div{
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
    text-align: center;

}
.gamesecondbox1 button{
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}

.gamesecondbox2{
    height: 350px;
    width: 400px;
    background-color: royalblue;    
    background: url('../../Assets/tictactoe.png');
    background-repeat: round;
    background-position: 10%;
    background-size: cover;
    border-radius: 20px;
    opacity: 0;
    display: flex;
    transform: translateY(20%);
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.gamesecondbox2 div{
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 50px;
    text-align: center;
}
.gamesecondbox2 button{
    border-radius: 10px;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    color: white;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .gamefirsttitle{
        font-size: 3em;
        font-weight: 600;
        font-family:Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
        padding-top: 40px;
    }
    .gamefirstdesc{
        font-size: 24px;
        font-family: auto;
        color: white;
        text-align: center;
        padding-bottom: 40px;
    }
    .gamesecondbox{
        height:auto;
        width: 100%;
        background-color: rgb(236, 236, 236);
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
    }
    .gamesecondbox1{
        height: 350px;
        width: 500px;
        background: url('../../Assets/typingimage.png');
        margin: 10px;
        opacity: 1;
    }
    .gamesecondbox2{
        height: 350px;
        width: 500px;
        background-color: royalblue;
        margin: 10px;
        opacity: 1;
    }
}