@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Itim&family=Lora:ital@1&family=PT+Serif&family=Rasa:ital,wght@1,700&family=Roboto+Slab&family=Satisfy&family=Viga&family=Vollkorn&display=swap');
.coursecontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    padding: 10% 42px 100px 42px;
    position: relative;
}
.coursetitle{
    position: absolute;
    display: block;
    top:0;
    font-family:auto;
    font-weight: 600;
    padding: 20px;
    margin-top: 2.5%;
    font-size: 2.8rem;
}
.coursebox1{
    height: 280px;
    width: 320px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}

.courseimage1 img{
    padding: 20px;
    height: 130px;
    width: 130px;
}
.courseimage2 img{
    padding: 20px;
    height: 130px;
    width: 130px;
}.courseimage3 img{
    padding: 20px;
    height: 130px;
    width: 130px;
}.courseimage4 img{
    padding: 20px;
    height: 130px;
    width: 130px;
}.courseimage5 img{
    padding: 20px;
    height: 130px;
    width:130px;
}.courseimage6 img{
    padding: 20px;
    height: 130px;
    width: 130px;
}
.webtitle{
    font-size: 24px;
    font-weight: 600;
    font-family:Arial, Helvetica, sans-serif;
}
.coursebox2{
    height: 280px;
    width: 320px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox3{
    height: 280px;
    width: 320px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox4{
    height: 280px;
    width: 320px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;


}
.coursebox5{
    height: 280px;
    width: 320px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox6{
    height: 280px;
    width: 320px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox1:hover,
.coursebox2:hover,
.coursebox3:hover,
.coursebox4:hover,
.coursebox5:hover,
.coursebox6:hover {
    background-color: aliceblue;
    cursor: pointer;
    box-shadow:  8px 8px 36px #b9babc,
    -18px -18px 36px #ffffff;
}
@media screen and (max-width:768px){
    .coursecontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
        padding:35% 0px 0px 0px
    } 
    .coursetitle{
        position: absolute;
        display: block;
        top:0;
        padding: 20px;
        font-size: 30px;
        margin: 6%;
    }
}
