.coursecontainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    /* padding: 10% 42px 100px 42px; */
    position: relative;
}
.coursetitle{
    width: 100%;
    text-align: center;
    font-family:auto;
    font-weight: 600;
    padding: 20px;
    margin-top: 2.5%;
    font-size: 2.8rem;
}
.courseallbox{
    background-color: transparent;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.coursebox1{
    height: 250px;
    width: 300px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 15%;
    display: flex;
    border:1px solid rgb(187, 223, 255);
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}

.courseimage1 img{
    height: 130px;
    width: 130px;
}
.courseimage2 img{
    height: 130px;
    width: 130px;
}.courseimage3 img{
    height: 130px;
    width: 130px;
}.courseimage4 img{
    height: 130px;
    width: 130px;
}.courseimage5 img{
    height: 130px;
    width:130px;
}.courseimage6 img{
    height: 130px;
    width: 130px;
}
.webtitle{
    font-size: 28px;
    font-weight: 600;
    font-family:"roboto";
    text-align: center;
}
.coursebox2{
    height: 250px;
    width: 300px;
    justify-content: center;
    border:1px solid rgb(187, 223, 255);
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox3{
    height: 250px;
    width: 320px;
    justify-content: center;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border:1px solid rgb(187, 223, 255);
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox4{
    height: 250px;
    width: 300px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    border:1px solid rgb(187, 223, 255);
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;


}
.coursebox5{
    height: 250px;
    width: 300px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border:1px solid rgb(187, 223, 255);
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox6{
    height: 250px;
    width: 300px;
    background-color:  rgb(246, 248, 250);
    margin: 28px;
    border-radius: 15%;
    border:1px solid rgb(187, 223, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    box-shadow:  5px 5px 16px #b9babc,
    -5px -5px 16px #ffffff;
    transition: box-shadow 0.5s ease-in-out;

}
.coursebox1:hover,
.coursebox2:hover,
.coursebox3:hover,
.coursebox4:hover,
.coursebox5:hover,
.coursebox6:hover {
    background-color: aliceblue;
    cursor: pointer;
    box-shadow:  8px 8px 36px #b9babc,
    -18px -18px 36px #ffffff;
}
@media screen and (max-width:768px){
    .coursecontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content:space-evenly;
        align-items: center;
    } 
    .coursetitle{
        display: block;
        top:0;
        padding: 20px;
        font-size: 30px;
    }
}
